@font-face {
  font-family: 'OptimusPrinceps';
  font-style: normal;
  font-weight: normal;
  src: local('OptimusPrinceps'), url('OptimusPrinceps.woff') format('woff');
}

@font-face {
  font-family: 'OptimusPrincepsSemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('OptimusPrincepsSemiBold'), url('OptimusPrincepsSemiBold.woff') format('woff');
}